@font-face {
	font-family:'LenovoDoMedium';
	src:url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovomd-webfont.eot");
	src:url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovomd-webfont.eot?#iefix") format("embedded-opentype"),
		url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovomd-webfont.woff") format("woff"),
		url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovomd-webfont.ttf") format("truetype"),
		url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovomd-webfont.svg#LenovoDoMedium") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'LenovoDoBold';
	src:url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovobd-webfont.eot");
	src:url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovobd-webfont.eot?#iefix") format("embedded-opentype"),
		url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovobd-webfont.woff") format("woff"),
		url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovobd-webfont.ttf") format("truetype"),
		url("http://www.lenovo.com/ISS_Static/WW/css/type/lenovobd-webfont.svg#LenovoDoBold") format("svg");
	font-weight:normal;
	font-style:normal;
}