@charset "UTF-8";

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%; 
	/*vertical-align:baseline;*/
	}
	
	/* html5 display-role reset for older browsers */	
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section{
		display:block;
		}	
	ol, ul {
		list-style:none;
		}		
	blockquote, q{
		quotes:none;
		}		
	blockquote:before, blockquote:after,
	q:before, q:after{
		content:'';
		content:none;
		}		
	table{
		border-collapse:collapse;
		border-spacing:0;
		}		
	img{
		border:none;
		}		
	 *:focus{
		 outline:none;
		 }


/* common css classes */	
body{ 
    font-size:12px;
    color:#5a5a5a;
	font-family:Helvetica, Arial, sans-serif;
	background:#fff;
}	
a{	
	color: #333;
	text-decoration: none;
	cursor:pointer;
}
a:hover {text-decoration: underline;}
.clr{clear: both;}
.fl{float: left}
.fr{float: right}	
.none{display: none !important;}
.clear{
	clear:both;
	height:0px;
	overflow:hidden;
	display:block;
}

.min-width{
	width: 1024px;
	margin: 0px auto;
}
.float-l{
	float: left;
}
.float-r{
	float: right;
}
.no-mb{
	margin-bottom: 0px !important;
}

/*header css*/
#px-header{
	width: 100%;
	height: 108px;
	background: url(../images/header-bg.png) repeat-x;
	-webkit-box-shadow: 0px 10px 5px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 10px 5px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 10px 5px rgba(50, 50, 50, 0.15);
}

#px-header #header-info{
	background: url(../images/praxair-text-logo.png) no-repeat 0 0;
	height: 32px;
	line-height: 32px;
}
	.h-info-navi li{
		float: left;
		color: #fff;
		text-transform: uppercase;
		margin: 0px 0px;
		padding: 0px 5px 0px 25px;
	}
		.h-info-navi li.home,.h-info-navi li.msg,.h-info-navi li.help{
			background: url(../images/header-icons-css-sprite.png) no-repeat;
		}
		.h-info-navi li.home{
			background-position: 3px 8px;
		}
		.h-info-navi li.msg{
			background-position: 3px -20px;
		}
		.h-info-navi li.help{
			background-position: 3px -47px;
		}
		.h-info-navi li.site-link{
			padding-left: 5px;
		}
		.h-info-navi li.user{
			text-transform: none;
		}

		.h-info-navi li a{
			color: #fff;
			padding-right: 10px;
		}
		.h-info-navi li.site-link a{
			color: #5fa8e4;
		}


#px-header #site-navi{
	background: url(../images/praxair-logo.png) no-repeat 0 15px;
	height: 75px;
	line-height: 75px;
}
	.h-main-navi li{
		float: left;
		font-size: 21px;
		color: #242424;
		text-align: center;
		height: 74px;
		position: relative;
		cursor:pointer;
	}
	.h-main-navi li.inv-mgr,.h-main-navi li.bil-mgr{
		width: 125px;
	}
	.h-main-navi li.account, .h-main-navi li.profile,.h-main-navi li.contact,
	.h-main-navi li.account div, .h-main-navi li.profile div, .h-main-navi li.contact div{
		width: 168px;line-height: 45px;
	}

	.h-main-navi li.active{
		border-bottom: 2px solid #00b760;
		color: #00b760;
	}
	.h-main-navi li div{
		height: 45px;
		position: absolute;
		bottom: 15px;
		line-height: 23px;
		border-right: 1px solid #dcdcdc;
	}

	.h-main-navi li:last-child div{
		border:none;
	}


/*home page css*/
#px-content{
	margin-top: 20px;
}

#px-content .left-col{
	background: #f6f6f6;
	min-height: 756px;
	width: 250px;
	margin-right: 10px;
	margin-bottom: 20px;
}
#px-content .left-col .left-subNavi h1{
	padding: 20px 0 20px 20px;
	color: #08a562;
	font-size: 13px;
}
#px-content .left-col .left-subNavi .menu{
	padding: 0 0 0 20px;
	font-size: 13px;
	text-decoration: underline;
}
	/*.left-subNavi .menu li{
		height: 25px;
		line-height: 25px;
		padding-left: 15px;
		background: url(../images/left-nav-arrow-icon.png) no-repeat 0 center;
		cursor:pointer;
	}*/
	.left-subNavi .menu a{
		display: block;
		height: 25px;
		line-height: 25px;
		padding-left: 15px;
		background: url(../images/left-nav-arrow-icon.png) no-repeat 0 center;
	}
	.left-subNavi .menu a:hover{
		color:#00B760;
	}
	.left-subNavi .menu .submenu{
		padding-left: 20px;
	}

	#px-content .left-col .inv-mgr-container{
		border: 1px solid #e9e9e9;
	}
	.inv-mgr-container .head-title{
		background: #e7e7e7;
		height: 35px;
		line-height: 35px;
		padding: 0px 16px;
		color: #010101;
		text-transform: uppercase;
		font-size: 13px;
		cursor:pointer;
	}
	.inv-mgr-container ul{
		background: #fff;
		padding: 18px;
	}
	.inv-mgr-container ul li{
		border-bottom: 1px dotted #646464;
		padding: 10px 0;
		font-size: 13px;
	}
	.inv-mgr-container ul li a{
		color: #00b760;
	}
	.inv-mgr-container ul li a.current{
		color: #000;
	}
	.inv-mgr-container ul li:first-child{
		padding-top: 0px;
	}
	.inv-mgr-container ul li:last-child{
		padding-bottom: 0px;
		border-bottom: none;
	}

#px-content .right-col{
	width: 655px;
	min-height: 418px;
	padding:32px 20px 0px 20px;
	background: #f5f5f5;
}
	#px-content .right-col h1{
		padding-bottom: 19px;
		padding-left: 10px;
		border-bottom: 1px solid #e1e1e1;
		font-size: 21px;
		font-weight: normal;
		color: #00b760;
	}
	#px-content .right-col p.note{
		color: #878787;
		font-size: 13px;
		padding-top: 20px;
		line-height: 17px;
	}

	#px-content .right-col .inv-mgr-metro-box{
		padding: 40px 0 0 10px;
	}

	.inv-mgr-metro-box .lf-panel{
		padding-right: 23px;
		margin-right: 36px;
		border-right: 1px solid #00b760;
		width: 282px;
	}
	.inv-mgr-metro-box .lf-panel div, .inv-mgr-metro-box .rt-panel div{
		width: 126px;
		height: 126px;
		background: #00b760;
		margin-right: 15px;
		margin-bottom: 15px;
		float: left;
		position: relative;
	}
	.inv-mgr-metro-box .lf-panel div div, .inv-mgr-metro-box .rt-panel div div{
		background:url(../images/inv-mgr-metro-css-sprite.png) no-repeat;
		width: 92px;
		height: 56px;
		position: absolute;
		margin: 0px;
	}
	.inv-mgr-metro-box .lf-panel .reading{
		background-position: 0 0;
		top: 15px;
		left: 35px;
		width: 56px;

	}
	.inv-mgr-metro-box .lf-panel .status{
		background-position: 0 -64px;
		top: 15px;
		left: 30px;
		width: 64px;
	}
	.inv-mgr-metro-box .lf-panel .inv-account{
		background-position: 0 -139px;
		top: 25px;
		left: 36px;
		width: 56px;
		height: 41px;
	}
	.inv-mgr-metro-box .lf-panel .docs{
		background-position: 0 -193px;
		top: 18px;
		left: 40px;
		width: 45px;
		height: 51px;
	}
	.inv-mgr-metro-box .rt-panel .billing-account{
		background-position: 0 -252px;
		top: 18px;
		left: 40px;
		width: 46px;
		height: 51px;
	}

	.inv-mgr-metro-box .rt-panel .history{
		background-position: 0 -316px;
		top: 26px;
		left: 22px;
		width: 80px;
		height: 34px;
	}

	.inv-mgr-metro-box .lf-panel div p, .inv-mgr-metro-box .rt-panel div p{
		position: absolute;
		bottom: 0px;
		background: rgba(0,0,0,.2);
		font-size: 13px;
		width: 112px;
		color: #fff;
		text-align: center;
		padding: 7px;
	}
	.inv-mgr-metro-box .rt-panel div:last-child{
		clear: left;
	}


/*search page css*/
	#px-content .right-col .condition-container{
		padding: 20px 10px 0 10px;
	}
	.condition-container .condition-inputs{
		height: 80px;
	}
	.condition-container .search-btn{
		background: #5fa8e4;
		color: #fff;
		text-align: center;
		width: 123px;
		height: 36px;
		line-height: 36px;
		display: block;
		font-size: 14px;
	}
	
	.condition-inputs .control-label{
		float: left;
		width: 83px;
		padding-top: 5px;
		text-align: right;
	}
	.condition-inputs .control-group{
		padding:0px;
		margin-bottom: 0px;
	}
	.condition-inputs .rt-inputs{
		width: 335px;
	}
	.condition-inputs .rt-inputs .controls{
		margin-left: 150px;
	}

	.condition-inputs .rt-inputs .control-label{
		width: 140px;
	}

	.condition-inputs .controls{
		margin-left: 93px;
		margin-bottom: 0px;
	}
	.condition-inputs input{
		width: 170px;
	}

	#px-content .right-col .condition-container .condition-date{
		padding: 5px 0 0 95px;
	}
	.condition-date p{
		font-size: 13px;
		padding-bottom: 10px;
	}
	.condition-date .controls input{
		margin-right: 10px;
		text-align: center;
		width: 30px;
		float: left;
	}
	.condition-date .controls #year, .condition-date .controls #to-year{
		width: 60px;
	}
	.condition-date .control-label{
		width: auto;
		padding-top: 9px;
	}
	.condition-date .controls{
		margin-left: 38px;
		position: relative;
	}
	.condition-date .from{
		width: 250px;
	}
	.condition-date .to{
		width: 236px;
		margin-left: 38px;
	}
	.condition-date .to .controls{
		margin-left: 24px;
	}
	.condition-date .calendar-icon{
		width: 24px;
		height: 27px;
		background: url(../images/calendar-icon.png) no-repeat;
		display: block;
		position: absolute;
		right: 0px;
		top: 1px;
	}
	/*search table data css*/
	table .order-num{
		text-decoration: underline;
		color: #00b760 !important;
	}
	table .even, table .mild{
		background: #ebebeb;
	}
	table .deep{
		background: #e1e1e1;
	}
	#px-content .right-col .search-table-data{
		padding-top: 10px;
		margin-bottom: 84px;
		text-align: center;
	}
	
	.search-table-data .table-result tr.t-head{
		height: 50px;
	}
	/*.search-table-data .table-result .order-num{
		text-decoration: underline;
		color: #00b760;
	}*/
	.search-table-data .table-result tr{
		height: 30px;
		color: #5a5a5a;
		font-size: 13px;
	}
	.search-table-data .table-result tr.page-control{
		text-align: left;
		background: #c8c8c8;
	}
	/*.search-table-data .table-result tr.even{
		background: #ebebeb;
	}*/

	.search-table-data .table-result th{
		background: #00b760;
		color: #fff;
		font-size: 13px;
		font-weight: normal;
	}
	.search-table-data .table-result th:first-child{
		padding-left: 5px;
	}
	.search-table-data .table-result th:last-child{
		padding-right: 5px;
	}
		.page-control ul li{
			float: left;
			padding-right: 10px;
		}
		.page-control ul li a{
			text-decoration: underline;
			color: #00b760;
		}
		.page-control ul li a.inactive{
			cursor: default;
			color: #878787;
		}
		.page-control .pagination{
			padding-left: 20px;
		}
		.page-control .pagination .info{
			margin-left: 110px;
		}

	/*billing manager, gauge readings page css*/
	#px-content .right-col .billing-content, #px-content .right-col .gauge-content{
		padding-top: 10px;
	}
	.right-col .table-checkbox{
		border:1px solid #00b760;
		width: 14px;
		height: 14px;
		margin: 0px 5px 0 0;
	}

	.billing-content .payment-item, .gauge-content .payment-item{
		margin-bottom: 1px;
	}
	.payment-item .payment-head{
		height: 30px;
		color: #fff;
		padding-left: 30px;
		line-height: 30px;
		background: #00b760 url(../images/right-table-icon.png) no-repeat 12px center;
		position: relative;
		cursor: pointer;
	}
	.payment-item .payment-head.open{
		background: #00b760 url(../images/down-table-icon.png) no-repeat 10px center;

	}

	.payment-item .payment-head .place{
		position: absolute;
		right: 20px;
	}


	/*.payment-item .payment-table tr.even{
		background: #ebebeb;
	}*/
	.payment-item .payment-table.close{
		display: none;
	}
	.payment-item .payment-table th{
		font-size: 13px;
		font-weight: normal;
		border-right: 1px solid #d7d7d7;
		padding: 5px 0;
		line-height: 16px;
	}
	.payment-item .payment-table th{
		border:none;
	}

	.payment-item .payment-table th:last-child{
		border: none;
		text-align: right;
		padding-right: 20px;
	}
	.payment-item .payment-table td{
		font-size: 14px;
		text-align: center;
		height: 45px;
		color: #878787;
	}	
		.gauge-content .button-control{
			border-top: 1px solid #e1e1e1;
			height: 65px;
			line-height: 65px;
			text-align: right;
		}

		.gauge-content .payment-item .payment-table td.ctrls{
			width: 200px;
		}
		.payment-item .payment-table td.ctrls{
			width: 160px;
		}
		.payment-item .payment-table td.table-footnotes{
			text-align: left;
			padding-left: 20px;
		}
		.payment-item .payment-table td.ctrls .yy-datepick{
			width: 40px;
		}
		.payment-item .payment-table td.ctrls span{
			margin: 0px 3px;
		}
		.payment-table .paydate input{
			width: 20px;
			margin-bottom: 0px;
		}
		.payment-table .paydate input.input90{
			width: 90px;
		}
		.payment-table .paydate .date-format{
			font-size: 14px;
			padding: 5px 0;
		}
		.payment-table .paydate .date-format span{
			font-size: 10px;
			color: #878787;
			padding-left: 5px;
		}

/**/


















