@charset "UTF-8";

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%; 
	vertical-align:baseline;
	}
	
	/* html5 display-role reset for older browsers */	
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section{
		display:block;
		}	
	ol, ul {
		list-style:none;
		}		
	blockquote, q{
		quotes:none;
		}		
	blockquote:before, blockquote:after,
	q:before, q:after{
		content:'';
		content:none;
		}		
	table{
		border-collapse:collapse;
		border-spacing:0;
		}		
	img{
		border:none;
		}		
	 *:focus{
		 outline:none;
		 }


/* common css classes */	
body{ 
    font-size:12px;
    color:#5a5a5a;
	font-family:Helvetica, Arial, sans-serif;
	background:#fff;
}	
a{	
	color: #333;
	text-decoration: none;
	cursor:pointer;
}
a:hover {text-decoration: underline;}
.fl{float: left}
.fr{float: right}	
.clear{
	clear:both;
	height:0px;
	overflow:hidden;
	display:block;
}

.min-width{
	width: 1024px;
	margin: 0px auto;
}
.float-l{
	float: left;
}
.float-r{
	float: right;
}
/*header css*/
#px-header{
	width: 100%;
	height: 108px;
	background: url(../images/header-bg.png) repeat-x;
	-webkit-box-shadow: 0px 10px 5px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 10px 5px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 10px 5px rgba(50, 50, 50, 0.15);
}

#px-header #header-info{
	background: url(../images/praxair-text-logo.png) no-repeat 0 0;
	height: 32px;
	line-height: 32px;
}
	.h-info-navi li{
		float: left;
		color: #fff;
		text-transform: uppercase;
		margin: 0px 0px;
		padding: 0px 5px 0px 25px;
	}
		.h-info-navi li.home,.h-info-navi li.msg,.h-info-navi li.help{
			background: url(../images/header-icons-css-sprite.png) no-repeat;
		}
		.h-info-navi li.home{
			background-position: 3px 8px;
		}
		.h-info-navi li.msg{
			background-position: 3px -20px;
		}
		.h-info-navi li.help{
			background-position: 3px -47px;
		}
		.h-info-navi li.site-link{
			padding-left: 5px;
		}
		.h-info-navi li.user{
			text-transform: none;
		}

		.h-info-navi li a{
			color: #fff;
			padding-right: 10px;
		}
		.h-info-navi li.site-link a{
			color: #5fa8e4;
		}

/*footer css*/
#px-footer{
	width: 100%;
	height: 120px;
}
.footer-link{
	background:#455467;
	height: 90px;
	padding: 0 68px 0 25px;
}
.footer-link ul li{
	padding: 7px 0;
}
.footer-link ul li a{
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
}
.footer-link .float-r{
	margin-left: 84px;
}
#px-footer p{
	color: #fff;
	font-size: 12px;
	background:#343f4d;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}


