/*bootstrap css*/
.control-group {
	margin-bottom: 20px;
}
.control-label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}
input{
	background-color: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	border-radius: 4px;
}
/*header css*/
#px-header .country{
	margin:12px 0 3px 0;
}
#px-header .country li{
	float: none;
	color: #878787;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 10px;
}
.country .english, .country .espanol, .country .erancais {
	background: url(../images/header-icons-css-sprite.png) no-repeat;
	padding: 0 13px 0 5px;
}
.country .english{
	background-position: 0 -81px;
}
.country .espanol{
	background-position: 0 -109px;
}
.country .erancais{
	background-position: 0 -136px;
}
/*footer css*/
#px-footer{
	width: 100%;
	height: 120px;
	background: url(../images/footer-bg.png) repeat-x;
}
.footer-link{
	height: 90px;
}
.footer-link ul li{
	padding: 7px 0;
}
.footer-link .notice{
	padding-top: 14px;
}
.footer-link ul li a{
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
}
.footer-link .float-r{
	margin-left: 84px;
}
#px-footer p{
	color: #fff;
	font-size: 12px;
	line-height: 30px;
}


/*login css*/
#px-content .login-bg{
	background:#fff!important;
}
	#px-content .login{
		position: relative;
		background:#f6f6f6;
		overflow: hidden;
		margin-bottom: 10px;
		padding-bottom: 20px;
	}
	.login h1 {
		display: block;
		width: 100%;
		padding: 0;
		padding: 19px 0 14px 0;
		font-size: 21px;
		font-weight: normal;
		color: #333;
		border: 0;
		border-bottom: 1px solid #e5e5e5;
	}
	.login .control-group{
		padding: 0 10px;
		overflow: hidden;
	}
	.login .control-group .controls{
		margin-bottom: 20px;
	}
	.login	.control-group .controls label {
			display: block;
			margin-bottom: 5px;
			font-size: 13px;
			font-weight: normal;
		}
	.login .control-group .controls input{
			display: inline-block;
			height: 20px;
			padding: 4px 6px;
			margin-bottom: 7px;
			font-size: 14px;
			line-height: 20px;
			color: #555;
			vertical-align: middle;
			border:1px solid #ebebeb;
		}
	.login .control-group .controls .input-middle{
			width: 190px;
		}
	.login .control-group .controls  .radio, .checkbox {
			min-height: 20px;
		}
		.btn {
			display: inline-block;
			margin-bottom: 0;
			font-size: 14px;
			line-height: 36px;
			color: #fff;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			background-color: #60a8e3;
		}
		.btn-large{
			width: 170px;
			height: 36px;
		}
		.btn-small{
			width: 122px;
			height: 36px;
		}
		.btn-meddle{
			width: 185px;
		}
		.btn-right{
			display: inline-block;
			background-image: url(../images/btn-right.png);
			width: 36px;
			height: 36px;
			float: right;
		}
		.top-margin{
			margin-top: 20px;
		}
		.error{
			margin: 20px 0;
			color: #fc551e;
		}
		.input-error{
			border:1px solid #fa9b7b!important;
		}
	#px-content .article{
		background:#fff;
		padding-top: 12px;
	}
	#px-content .article .section{
		border:0;
	}

	#px-content .article .caption{
		color: #5a5a5a
	}
		.article p{
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 30px;
			color: #5a5a5a;
		}
		.article p a{
			color: #00b760;
			text-decoration: underline;
		}
		.actived{
			color:#00B760;
		}



/*creat-password css*/
.password-box{
	width: 680px;
	padding: 20px 45px 54px 45px;
	background: #f6f6f6;
	margin-bottom: 500px;
}
.password-box .control-group{
	margin-bottom: 0;
}
.password-box .lf-inputs{
	position: relative;
}
.password-box .lf-inputs .pop-hint-msg{
	color: #fff;
	background-color: rgba(0,0,0,.7);
	border-radius: 5px;
	padding: 8px 3px 8px 8px;
	font-size: 11px;
	width: 150px;
	height: 40px;
	position: absolute;
	top: -60px;
	right: 55px;
	display: none;
}
	.pop-hint-msg .hint-box{
		position: relative;
	}
	.pop-hint-msg .arrow-down{
		position: absolute;
		width: 9px;
		height: 6px;
		background: url(../images/popover-down-icon.png);
		left: 0px;
		top: 48px;
	}

.password-box h1{
	padding-bottom: 15px;
	border-bottom: 1px solid #e1e1e1;
	font-size: 21px;
	font-weight: normal;
	color: #00b760;
}
.password-box .control-group label{
	padding-left: 132px;
}
.password-box .control-group .popover-icon{
	background-image: url(../images/popover-icon.png);
	position: absolute;
	width: 24px;
	height: 24px;
	cursor: pointer;
	top: 5px;
	right: 192px;
}

.password-box p{
	font-size: 13px;
	line-height: 20px;
	margin:14px 0 30px 0;
	color: #878787;
}
.password-box .submit-form{
	margin-top: 30px;
	text-align: center;
}


/*registration css*/
.registration-box{
	width: 500px;
	padding: 20px 0px 30px 0px;
	background: #f6f6f6;
	margin-bottom: 66px;
	display: inline-block;
}
.registration-box .registration-datail{
	padding: 0 20px;
}
.contact-us, .maintenance-box, .registration-box h1{
	padding-bottom: 15px;
	border-bottom: 1px solid #e1e1e1;
	font-size: 21px;
	font-weight: normal;
	color: #00b760;
}
.registration-box p{
	font-size: 13px;
	line-height: 20px;
	margin:14px 0 30px 0;
	color: #5a5a5a;
}
select {
	background-color: #fff;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
}
.registration-box .select-small{
	width: 80px;
}
.registration-box .select-middle{
	width: 100px;
}
.registration-box .select-large{
	width: 170px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #555;
	vertical-align: middle;
	border-radius: 4px;
}
.registration-box .condition-inputs{
	overflow: hidden;
}
.registration-box .condition-inputs .controls {
	margin-left: 180px;
	margin-bottom: 0px;
}
.registration-box .control-label{
	width:160px;
}
.registration-box #month,#day{
	width: 30px;

}
.registration-box #year,#ext{
	width: 60px;
}
.registration-box .submit-form {
	margin-top: 30px;
	float: right;
}

.redirection
{
	position: absolute;
	top: 170px;
	right: 20px;
}
/*profile-maintanance css*/
.maintenance{
	float: right;
	width: 600px;
	padding: 20px 45px 54px 45px;
	background: #f6f6f6;
}
.maintenance h3{
	background:#00b760;
	color: #fff;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	padding-left: 20px;
	margin:11px 0 22px 0;
}
/*account activation css*/
.activation{
	background: #ebebeb;
	width: 450px;
	margin-top: 10px;
	padding-bottom: 20px;
	overflow: hidden;
	display: inline-block;
	position: relative;
}
.activation h3{
	background:#00b760;
	color: #fff;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	padding-left: 20px;
	margin-bottom: 22px;
	font-weight: normal;
}
.activation .pop-hint-msg{
	color: #fff;
	background-color: rgba(0,0,0,.7);
	border-radius: 5px;
	padding: 8px 3px 8px 8px;
	font-size: 11px;
	width: 150px;
	height: 40px;
	position: absolute;
	top: 58px;
	right: 36px;
	display: none;
}
.activation  .pop-hint-msg .arrow-down {
	position: absolute;
	width: 9px;
	height: 6px;
	background: url(../images/popover-down-icon.png);
	left: 0px;
	top: 48px;
}
.activation .controls a{
	color: #08a562;
	text-decoration: underline;
}
.activation .control-label{
	width: 50px;
	margin-left: 28px;
}
.activation p{
	margin: 0 125px 28px 28px;
	line-height: 20px;
	font-size: 12px;
	color: #878787;
}
.activation .submit-form{
	padding-left: 72px;
}
/*contact css*/
.contact-us{
	float: right;
	width: 725px;
	padding: 20px 45px 54px 45px;
	background:#f6f6f6;
}
.contact-us h3{
	background:#00b760;
	color: #fff;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	padding-left: 20px;
	margin:11px 0 22px 0;
}
.contact-us .comment label{
	font-size: 14px;
	color: #5a5a5a;
}
.contact-us .comment .control-label{
	margin:0 40px 0 18px;
	width: 101px;
}
.contact-us .comment .select-large{
	width: 280px;
}
.contact-us .comment textarea{
	width: 600px;
	height: 250px;
	border:2px solid #ebebeb;
	border-radius: 2px;
}
.contact-us .comment p{
	margin: 20px 0 17px 0!important;
}
.contact-us .comment .inline{
	display: inline-block;
}
.contact-us .comment input[type="radio"]{
 	cursor: pointer;
 }
 .contact-us .comment .controls{
 	font-size: 13px;
 	color: #5a5a5a;
 }
.contact-us .submit-form{
	float: none!important;
}
.input-small{
	width: 70px;
}
/*tank-detail css*/
.select-account{
	margin: 10px 0 11px 0;
	background: #ebebeb;
}
	.select-account .control-group {
		padding-top: 10px;
		margin-bottom: 0px;
	}
	.select-account .control-label {
		float: left;
		width: 140px;
		padding-top: 5px;
		text-align: right;
	}
	.select-account .controls {
		margin-left: 150px;
		margin-bottom: 0px;
	}
	.select-account .btn-right{
		background-image: url(../images/btn-arrow-right.png);
		width: 31px;
		height: 31px;
		float: right;
		margin: -40px 74px;
	}
	.tank-title{
		font-size: 12px;
		color: #ff4100;
	}
.account-detail{
	margin-bottom: 5px;
	overflow: hidden;
}
.account-bg{
	background:#ebebeb;
}
.account-detail .account-item {
	background: #ebebeb;
	width: 320px;
	padding: 15px 0 0 0px;
	float: left;
	margin-top: 10px;
}
.account-detail .account-item ul{
	padding-left: 20px;
}
.account-detail .account-item ul li{
	padding-bottom: 15px;
}
.account-detail .account-item ul li span{
	float: right;
	margin-right: 186px;
}
.account-detail .account-item ul li.title{
	padding-top: 5px;
	color: #00b760;
}
.account-detail .account-current{
	float: right;
	background: #ebebeb;
	width: 320px;
	margin-top: 10px;
}
.account-detail  h3{
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	background: #00b760;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
}
.account-detail .account-status{
	float: left;
	width: 320px;
	height: 175px;
	background:#ebebeb;
}
.account-detail .account-history{
	float: right;
	width: 320px;
	height: 175px;
	background:#ebebeb;
}
.account-detail .controls{
	width: 170px;
	margin:14px 0 20px 0;
	text-align: center;
	display: inline-block;
}
.account-detail .controls input{
	width: 20px;
	margin-bottom:0;
	margin-top: 6px; 
}
.account-detail .controls .input-middle{
	width: 90px;
}
.account-detail .bar{
	display: inline-block;
}
.account-detail .bar .btn-reading{
	width: 122px;
	height: 30px;
	line-height: 30px;
	background: #d7d7d7;
	color: #b4b4b4;
	text-align: center;
	display: block;
}
.done{
	margin:17px 0;
	overflow: hidden;
}
.margin-b{
	margin-bottom: 36px;
}
/*list-of-tank css*/
.th-info{
	float: left;
	padding-left: 20px!important;
}
/*request-confirmation css*/
.right-col .confirm-info{
	margin: 20px 0 13px 0;
	overflow: hidden;
}
.right-col .confirm-info span{
	font-size: 14px;
	color: #5a5a5a;
}
.right-col .confirm-request{
	overflow: hidden;
}
.right-col .copy-col{
	font-size: 13px;
	color: #878787;
}
.right-col .confirm-request .search-table-data{
	width: 655px;
	overflow: auto;
}
.right-col .confirm-request .table-result tr.t-head{
	height: 30px;
}
.right-col .confirm-request .search-table-data{
	margin-bottom: 20px!important;
}
.confirm-request .pop-hint-msg {
	color: #fff;
	background-color: rgba(0,0,0,.7);
	border-radius: 5px;
	padding: 8px 3px 8px 8px;
	font-size: 11px;
	width: 150px;
	height: 20px;
	position: absolute;
	top: 119px;
	left: 154px;
	display: none;
}
.confirm-request .pop-hint-msg .arrow-down {
	position: absolute;
	width: 9px;
	height: 6px;
	background: url(../images/popover-down-icon.png);
	left: 0px;
	top: 28px;
}
table .even td .controls{
	margin-top: 10px;
}
/*progress css*/
.progress {
	position: relative;
	height: 34px;
	margin: 20px 20px 17px 20px;
	overflow: hidden;
}
.progress .bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #0e90d2;
}
.progress-striped .bar {
	background-color: rgb(161, 196, 213);
	background-image: linear-gradient(130deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
	background-size: 40px 40px;
}
.progress .bar-success {
	background-color: #ff4100;
}
.progress .bar-warning {
	background-color: #ff8300;
}
.progress .bar-danger {
	background-color: #0a6baa;
}
.progress span{
	color: #878787;
	font-size: 13px;
	padding-top: 8px;
	position: relative;
	top: 8px;
	left: 0;
}
.progress-info{
	padding-left: 20px;
}
.progress-info li{
	margin-bottom: 15px;
	font-size: 13px;
}
.progress-info li.inventory{
	color: #ff4100;
}
.progress-info li.outtage{
	color: #ff8300;
}
.progress-info li.full{
	color: #0a6baa;
}