/*footer css*/
#px-footer{
	width: 100%;
	height: 120px;
	background: url(../images/footer-bg.png) repeat-x;
}
.footer-link{
	height: 90px;
}
.footer-link ul li{
	padding: 7px 0;
}
.footer-link .notice{
	padding-top: 14px;
}
.footer-link ul li a{
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
}
.footer-link .float-r{
	margin-left: 84px;
}
#px-footer p{
	color: #fff;
	font-size: 12px;
	line-height: 30px;
}


/*login css*/
#px-content .register-bg{
	background:#fff!important;
}
	#px-content #register{
		position: relative;
		background:#f6f6f6;
		overflow: hidden;
		margin-bottom: 10px;
		padding-bottom: 20px;
	}
	#register legend {
		display: block;
		width: 100%;
		padding: 0;
		padding: 19px 0 14px 0;
		font-size: 21px;
		color: #333;
		border: 0;
		border-bottom: 1px solid #e5e5e5;
	}
	#register .control-group{
		padding: 0 10px;
		overflow: hidden;
	}
	#register .control-group .controls{
		margin-bottom: 20px;
	}
		.control-group .controls label {
			display: block;
			margin-bottom: 5px;
			font-size: 13px;
			font-weight: normal;
		}
		.control-group .controls input{
			display: inline-block;
			height: 20px;
			padding: 4px 6px;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 20px;
			color: #555;
			vertical-align: middle;
			border:2px solid #ebebeb;

		}
		.control-group .controls .input-middle{
			width: 190px;
		}
		.control-group .controls  .radio, .checkbox {
			min-height: 20px;
		}
		.btn {
			display: inline-block;
			margin-bottom: 0;
			font-size: 14px;
			line-height: 36px;
			color: #fff;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			background-color: #60a8e3;
		}
		.btn-large{
			width: 170px;
			height: 36px;
		}
		.btn-small{
			width: 122px;
			height: 36px;
		}
		.btn-right{
			display: inline-block;
			background-image: url(../images/btn-right.png);
			width: 36px;
			height: 36px;
			float: right;
		}
		.top-margin{
			margin-top: 20px;
		}
		.error{
			margin: 20px 0;
			color: #fc551e;
		}
	#px-content .article{
		background:#fff;
		padding-top: 12px;
	}
	#px-content .article .section{
		border:0;
	}

	#px-content .article .caption{
		color: #5a5a5a
	}
		.article p{
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 30px;
			color: #5a5a5a;
		}
		.article p a{
			color: #00b760;
			text-decoration: underline;
		}



/*creat-password css*/
